$container-height: 500px;
$container-width: 800px;
$border-radius: 8px;

// Colors

$blue: #204486;
$blue-med: #63aaff;
$blue-light: #c9fdfa;
$teal: #72bbb6;
$teal-dark: #006461;
$yellow: #efce20;
$green: #667431;
$rose: #9d1a38;
$peach: #df6660;
$purple: #f8aefe;
$purple-light: #ffc6e7;
$white-blue: #eaffff;
$tan: #ecdfa4;
$neon: #76fea7;
$pumpkin: #f5ac5a;
$pumpkin-dark: #9a5600;

.yoac-blue {
  color: $blue;
}

.yoac-blue-light {
  color: $blue-light;
}

.yoac-teal {
  color: $teal;
}

.yoac-yellow {
  color: $yellow;
}

.yoac-green {
  color: $green;
}

.yoac-rose {
  color: $rose;
}

.yoac-peach {
  color: $peach;
}

.yoac-purple {
  color: $purple;
}

.yoac-white-blue {
  color: $white-blue;
}

.yoac-tan {
  color: $tan;
}

.yoac-neon {
  color: $neon;
}

.yoac-pumpkin {
  color: $pumpkin;
}
.yoac-pumpkin-dark {
  color: $pumpkin-dark;
}
