@import 'variables';
@import 'dragula';

.alc-learn--container {
  border: 1px solid gray;
  height: $container-height;
  width: $container-width;
}

//
// Module: Night Out
//

.alc-learn--night-out__response {
  min-width: 100px;
  border-bottom: 1px solid green;
  display: inline-block;

}

.alc-learn--night-out__item {
  border: 2px solid green;
  float: left;
  margin: 10px;
  font-size: 18px;
}


//
// Module: Dialogue
//

#alc-learn--dialogue__comp, #alc-learn--dialogue__user {
  display: none;
  float: left;
  border: 1px solid red;
  width: 200px;
  min-height: 80px;
  padding: 18px;
}

#alc-learn--dialogue__comp {
  background-color: #b9fffc;
}

#alc-learn--dialogue__user {
  background-color: #acdeab;
}
