@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
.yoac-blue {
  color: #3166C7; }

.yoac-blue-light {
  color: #C9FDFA; }

.yoac-teal {
  color: #72BBB6; }

.yoac-yellow {
  color: #EFCE20; }

.yoac-green {
  color: #667431; }

.yoac-rose {
  color: #9D1A38; }

.yoac-peach {
  color: #DF6660; }

.yoac-purple {
  color: #F8AEFE; }

.yoac-white-blue {
  color: #EAFFFF; }

.yoac-tan {
  color: #ECDFA4; }

.yoac-neon {
  color: #76FEA7; }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

* {
  font-family: Helvetica, sans-serif;
  line-height: 1.5; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 75%;
      max-width: 60rem; } }

.yoac__row {
  position: relative;
  width: 100%; }

.yoac__row [class^="yoac__col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.yoac__row::after {
  content: "";
  display: table;
  clear: both; }

.yoac__col-1,
.yoac__col-2,
.yoac__col-3,
.yoac__col-4,
.yoac__col-5,
.yoac__col-6,
.yoac__col-7,
.yoac__col-8,
.yoac__col-9,
.yoac__col-10,
.yoac__col-11,
.yoac__col-12 {
  width: 96%; }

.yoac__col-1-sm {
  width: 4.33333%; }

.yoac__col-2-sm {
  width: 12.66667%; }

.yoac__col-3-sm {
  width: 21%; }

.yoac__col-4-sm {
  width: 29.33333%; }

.yoac__col-5-sm {
  width: 37.66667%; }

.yoac__col-6-sm {
  width: 46%; }

.yoac__col-7-sm {
  width: 54.33333%; }

.yoac__col-8-sm {
  width: 62.66667%; }

.yoac__col-9-sm {
  width: 71%; }

.yoac__col-10-sm {
  width: 79.33333%; }

.yoac__col-11-sm {
  width: 87.66667%; }

.yoac__col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .yoac__col-1 {
    width: 4.33333%; }

  .yoac__col-2 {
    width: 12.66667%; }

  .yoac__col-3 {
    width: 21%; }

  .yoac__col-4 {
    width: 29.33333%; }

  .yoac__col-5 {
    width: 37.66667%; }

  .yoac__col-6 {
    width: 46%; }

  .yoac__col-7 {
    width: 54.33333%; }

  .yoac__col-8 {
    width: 62.66667%; }

  .yoac__col-9 {
    width: 71%; }

  .yoac__col-10 {
    width: 79.33333%; }

  .yoac__col-11 {
    width: 87.66667%; }

  .yoac__col-12 {
    width: 96%; }

  .hidden-sm {
    display: block; } }
.alc-learn--container {
  border: 1px solid gray;
  min-height: 500px;
  width: 800px;
  font-family: Arial, sans-serif;
  background-color: #72BBB6;
  color: #3166C7;
  padding: 24px;
  box-sizing: border-box;
  font-size: 22px; }

.alc-learn--success-message, #alc-learn--dialogue__moral, #alc-learn--reorder__success {
  font-size: 28px;
  color: #3166C7;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 8px solid #3166C7;
  border-radius: 8px; }

.alc-learn--night-out__prompt {
  margin-top: 0;
  margin-bottom: 50px; }

.alc-learn--night-out__response {
  min-width: 300px;
  border-bottom: 3px solid #3166C7;
  display: inline-block;
  height: 30px;
  padding: 0px 4px 19px;
  margin: 0;
  vertical-align: bottom; }
  .alc-learn--night-out__response .alc-learn--night-out__item {
    margin: 0;
    line-height: 60px;
    -webkit-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px) !important; }

.alc-learn--night-out__item {
  display: inline-block;
  margin: 16px 16px 16px 0;
  font-size: 28px;
  line-height: 60px;
  padding: 4px 8px;
  position: relative;
  transition: -webkit-transform .2s, transform .2s;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.alc-learn--night-out__word-cloud {
  text-align: center; }

#alc-learn--dialogue__slide-two {
  height: 800px;
  overflow: scroll; }

#alc-learn--dialogue__prompt .talk-bubble, #alc-learn--dialogue__answers .talk-bubble {
  display: none; }

#alc-learn--dialogue__prompt .talk-bubble {
  background-color: #667431;
  border-color: #667431;
  color: #C9FDFA;
  /*Right triangle, placed bottom right side slightly in*/ }
  #alc-learn--dialogue__prompt .talk-bubble.tri-right.border.btm-left-in:before {
    border-color: #667431 transparent transparent #667431; }
  #alc-learn--dialogue__prompt .talk-bubble.tri-right.btm-left-in:after {
    border-color: #667431 transparent transparent #667431; }
  #alc-learn--dialogue__prompt .talk-bubble.tri-right.border.btm-right-in:before {
    border-color: #667431 #667431 transparent transparent; }
  #alc-learn--dialogue__prompt .talk-bubble.tri-right.btm-right-in:after {
    border-color: #667431 #667431 transparent transparent; }
  #alc-learn--dialogue__prompt .talk-bubble .yoac-choose {
    color: #667431; }

#alc-learn--dialogue__answers {
  padding-top: 100px; }

#alc-learn--dialogue__answers .talk-bubble {
  cursor: pointer; }
#alc-learn--dialogue__answers .talk-bubble__color-1 {
  background-color: #ECDFA4;
  border-color: #ECDFA4;
  color: #9D1A38;
  /*Right triangle, placed bottom right side slightly in*/ }
  #alc-learn--dialogue__answers .talk-bubble__color-1.tri-right.border.btm-left-in:before {
    border-color: #ECDFA4 transparent transparent #ECDFA4; }
  #alc-learn--dialogue__answers .talk-bubble__color-1.tri-right.btm-left-in:after {
    border-color: #ECDFA4 transparent transparent #ECDFA4; }
  #alc-learn--dialogue__answers .talk-bubble__color-1.tri-right.border.btm-right-in:before {
    border-color: #ECDFA4 #ECDFA4 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-1.tri-right.btm-right-in:after {
    border-color: #ECDFA4 #ECDFA4 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-1 .yoac-choose {
    color: #ECDFA4; }
#alc-learn--dialogue__answers .talk-bubble__color-2 {
  background-color: #9D1A38;
  border-color: #9D1A38;
  color: #76FEA7;
  /*Right triangle, placed bottom right side slightly in*/ }
  #alc-learn--dialogue__answers .talk-bubble__color-2.tri-right.border.btm-left-in:before {
    border-color: #9D1A38 transparent transparent #9D1A38; }
  #alc-learn--dialogue__answers .talk-bubble__color-2.tri-right.btm-left-in:after {
    border-color: #9D1A38 transparent transparent #9D1A38; }
  #alc-learn--dialogue__answers .talk-bubble__color-2.tri-right.border.btm-right-in:before {
    border-color: #9D1A38 #9D1A38 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-2.tri-right.btm-right-in:after {
    border-color: #9D1A38 #9D1A38 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-2 .yoac-choose {
    color: #9D1A38; }
#alc-learn--dialogue__answers .talk-bubble__color-3 {
  background-color: #DF6660;
  border-color: #DF6660;
  color: #9D1A38;
  /*Right triangle, placed bottom right side slightly in*/ }
  #alc-learn--dialogue__answers .talk-bubble__color-3.tri-right.border.btm-left-in:before {
    border-color: #DF6660 transparent transparent #DF6660; }
  #alc-learn--dialogue__answers .talk-bubble__color-3.tri-right.btm-left-in:after {
    border-color: #DF6660 transparent transparent #DF6660; }
  #alc-learn--dialogue__answers .talk-bubble__color-3.tri-right.border.btm-right-in:before {
    border-color: #DF6660 #DF6660 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-3.tri-right.btm-right-in:after {
    border-color: #DF6660 #DF6660 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-3 .yoac-choose {
    color: #DF6660; }
#alc-learn--dialogue__answers .talk-bubble__color-4 {
  background-color: #EFCE20;
  border-color: #EFCE20;
  color: #667431;
  /*Right triangle, placed bottom right side slightly in*/ }
  #alc-learn--dialogue__answers .talk-bubble__color-4.tri-right.border.btm-left-in:before {
    border-color: #EFCE20 transparent transparent #EFCE20; }
  #alc-learn--dialogue__answers .talk-bubble__color-4.tri-right.btm-left-in:after {
    border-color: #EFCE20 transparent transparent #EFCE20; }
  #alc-learn--dialogue__answers .talk-bubble__color-4.tri-right.border.btm-right-in:before {
    border-color: #EFCE20 #EFCE20 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-4.tri-right.btm-right-in:after {
    border-color: #EFCE20 #EFCE20 transparent transparent; }
  #alc-learn--dialogue__answers .talk-bubble__color-4 .yoac-choose {
    color: #EFCE20; }

#alc-learn--dialogue__moral {
  display: none; }

.talk-bubble {
  margin: 40px auto 60px;
  display: inline-block;
  position: relative;
  width: 80%;
  padding-left: 10px;
  height: auto;
  border: 8px solid;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }
  .talk-bubble .yoac-choose {
    position: absolute;
    right: -40px;
    top: 50%;
    margin-top: -19px;
    animation: back-and-forth 1s ease-out infinite; }
  .talk-bubble.yoac__selected .yoac-choose {
    display: none; }

/* The animation code */
@keyframes back-and-forth {
  from {
    -webkit-transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-5px); }
  100% {
    -webkit-transform: translateX(0); } }
/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #667431 transparent transparent #667431; }

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: #667431 transparent transparent #667431; }

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #667431 #667431 transparent transparent; }

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: #667431 #667431 transparent transparent; }

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em; }

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

#alc-learn--reorder__list {
  width: 70%;
  margin: auto; }

.alc-learn--reorder__list-item {
  background-color: #667431;
  color: #C9FDFA;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 20px; }
  .alc-learn--reorder__list-item.gu-mirror {
    list-style-type: none; }

#alc-learn-storyboard__strip {
  height: 210px;
  background-color: rgba(206, 206, 206, 0.39);
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 19px 16px #72BBB6;
  z-index: 10; }

#alc-learn-storyboard__icon-container {
  height: 300px;
  overflow: scroll; }

.alc-learn-storyboard__thumb {
  max-width: 100%; }

/* no right side nav */
.with-right-side #right-side-wrapper {
  /*display: none; */ }

.pages .header-bar-outer-container {
  display: none; }

#course_show_secondary {
  display: none; }

#right-side > div.events_list.coming_up {
  display: none; }

/*# sourceMappingURL=main.css.map */
